.album {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 16px;
}
.post_img {
  position: relative;
  width: 110px;
  height: 110px;
  margin-left: 4px;
  margin-bottom: 8px;
}

.post_img .img {
  width: 110px;
  height: 110px;
}

.post_img .icon_layer {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 6px;
  right: 6px;
}
