.container {
  padding: 0px 16px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.info_wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.profile_img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.profile_img img {
  position: absolute;
  top: 90px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid #dbdbdb;
}

.variable_height {
  width: 100%;
  margin-bottom: 16px;
  padding: 0px 13px;
}

.input_area {
  font-family: Spoqa Han Sans Neo;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  width: 100%;
  margin-top: 18px;
  outline: none;
  border: none;
  resize: none;
  margin-bottom: 16px;
}

.input_area::placeholder {
  font-family: Spoqa Han Sans Neo;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #c4c4c4;
}

.upload_wrap {
  width: 304px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 40px;
  overflow-x: auto;
}

.btn_upload_img {
  position: absolute;
  bottom: 16px;
  right: 16px;
  cursor: pointer;
}

.btn_upload_img img {
  width: 50px;
  height: 50px;
}
