.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 0.5px solid #dbdbdb;
}

.back {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.back img {
  width: 22px;
  height: 22px;
}

.upload {
  width: 90px;
  height: 32px;
  cursor: pointer;
}

.upload .btn_upload {
  width: 90px;
  height: 32px;
  border: none;
  border-radius: 32px;
  background-color: #ffc7a7;
  color: #ffffff;
  cursor: pointer;
}

.upload .on {
  background-color: #f26e22;
}
