.post_user {
  display: flex;
  margin: 0px 21px;
  margin-top: 24px;
}

.post_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.user_info {
  display: flex;
}

.user_name .name {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #000000;
  margin-bottom: 2px;
}

.user_name .accountname {
  font-size: 12px;
  line-height: 14px;
  color: #767676;
  margin-bottom: 16px;
}

.profile_img {
  width: 42px;
  height: 42px;
  margin-right: 12px;
  border-radius: 50%;
}

.profile_img img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.post {
  display: flex;
  flex-direction: column;
}

.post_desc {
  display: flex;
  justify-content: center;
  width: 95%;
  margin-bottom: 16px;
}

.post_desc p {
  width: 100%;
  margin-left: 74px;
  font-size: 14px;
  line-height: 18px;
}

.post_img {
  width: 304px;
  height: 228px;
  border-radius: 10px;
  border: 0.5px solid #dbdbdb;
  margin-left: 68px;
  margin-bottom: 14px;
}

.post_img img {
  width: 304px;
  height: 228px;
  border-radius: 10px;
  border: 0.5px solid #dbdbdb;
}

.follow_info {
  display: flex;
  margin-left: 68px;
  margin-bottom: 10px;
}

.follow {
  display: flex;
  align-items: center;
}

.follow img {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.comment {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.comment img {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.count {
  font-size: 12px;
  line-height: 12px;
  color: #767676;
}

.date {
  margin-left: 68px;
  margin-bottom: 4px;
}

.date span {
  font-size: 10px;
  line-height: 12px;
  color: #767676;
}
