.title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 40px;
}

.input_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.label {
  line-height: 15px;
  font-size: 12px;
  font-weight: 500;
  color: #767676;
}

.input {
  width: 100%;
  padding: 8px 0;
  margin-bottom: 16px;
  border: none;
  outline: none;
  border-bottom: 1px solid #dbdbdb;
}

.input:focus {
  border-bottom: 1px solid #f26e22;
}

.err {
  color: #eb5757;
  font-size: 12px;
  line-height: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.login_btn {
  width: 322px;
  height: 44px;
  border-radius: 44px;
  background-color: #ffc7a7;
  border: none;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  disabled: true;
}

.on {
  background-color: #f26e22;
}

.link a {
  font-size: 12px;
  line-height: 15px;
  color: #767676;
}
